.post-preview{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.post-subtitle2 {
    font-weight: 300;
    margin-bottom: 0.625rem;
}

.post-subtitletest{
    font-weight: 300;
    margin-bottom: 0.625rem;
}

.post-subtitletrial{
    font-weight: 300;
    margin-bottom: 0.625rem;
}

.post-subtitletesting{
    font-weight: 300;
    margin-bottom: 0.625rem;
}

.post-subtitleagain{
    font-weight: 300;
    margin-bottom: 0.625rem;
}

.subheadingtest{
    height: 100px;
    background-color: lightpink;
    color: white;
    font-size: 50px;
    line-height: 100px;
}

.post-metatest{
    color: pink;
    text-decoration: underline;
    font-family: cursive;
    font-size: 15px;
}

.soph{
    color: black;
}
.mb-4s{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.subheadinghiii{
    height: 100px;
    background-color: lightpink;
    color: white;
    line-height: 100px;
}

.container{
    font-family: 'Times New Roman', Times, serif;
}

.containertesting{
    text-align:left;
}

.subheadingabout{
    height: 100px;
    background-color: lightpink;
    color: white;
    font-size: 50px;
    line-height: 100px;
}

.smile{
    text-align: center;
    text-decoration: underline;
    color: lightpink;
}

.worklink{
    text-decoration: underline;
    color: lightskyblue;
}